@model EasyToEnter.ASP.ViewsModels.Components.Path.PathContainerViewModel;

@*Путь начало*@
<div class="container bg-light rounded-3 shadow mb-3">
    <div class="row">
        <div class="col">
            @if (Model.CorrectLink == false)
            {
                <span class="row py-1">
                    <small class="text-muted">
                        Некоректная ссылка
                    </small>
                </span>
            }
            else if (Model.LevelHistory == null)
            {

            }
            else if (Model.ScienceHistory == null)
            {
                <a class="link-secondary" href="@Model.LevelHistory.Href">
                    <small class="text-muted pt-1 fw-bold">
                        Изменить уровень
                    </small>
                </a>
            }
            else if (Model.GroupHistory == null)
            {
                <a class="link-secondary" href="@Model.ScienceHistory.Href">
                    <small class="text-muted pt-1 fw-bold">
                        @Model.LevelHistory.Name
                    </small>
                </a>
            }
            else
            {
                <a class="link-secondary" href="@Model.ScienceHistory.Href">
                    <small class="text-muted pt-1">
                        @Model.LevelHistory.Name
                    </small>
                </a>
                <small>
                    /
                </small>

                if (Model.DirectionHistory == null)
                {
                    <a class="link-secondary" href="@Model.GroupHistory.Href">
                        <small class="text-muted pt-1 fw-bold">
                            @Model.ScienceHistory.Name
                        </small>
                    </a>
                }
                else
                {
                    <a class="link-secondary" href="@Model.GroupHistory.Href">
                        <small class="text-muted pt-1">
                            @Model.ScienceHistory.Name
                        </small>
                    </a>
                    <small>
                        /
                    </small>


                    if (Model.FocusHistory == null)
                    {
                        <a class="link-secondary" href="@Model.DirectionHistory.Href">
                            <small class="text-muted pt-1 fw-bold">
                                @Model.GroupHistory.Name
                            </small>
                        </a>
                    }
                    else
                    {
                        <a class="link-secondary" href="@Model.DirectionHistory.Href">
                            <small class="text-muted pt-1">
                                @Model.GroupHistory.Name
                            </small>
                        </a>
                        <small>
                            /
                        </small>

                        if (Model.VariabilityHistory == null)
                        {
                            <a class="link-secondary" href="@Model.FocusHistory.Href">
                                <small class="text-muted pt-1 fw-bold">
                                    @Model.DirectionHistory.Name
                                </small>
                            </a>
                        }
                        else
                        {
                            <a class="link-secondary" href="@Model.FocusHistory.Href">
                                <small class="text-muted pt-1">
                                    @Model.DirectionHistory.Name
                                </small>
                            </a>
                            <small>
                                /
                            </small>
                            <a class="link-secondary" href="@Model.VariabilityHistory.Href">
                                <small class="text-muted pt-1 fw-bold">
                                    @Model.FocusHistory.Name
                                </small>
                            </a>
                        }
                    }
                }
            }
        </div>
    </div>
@*    <div class="row">
        <div class="col">
            @if (Model.CorrectLink == false)
            {

            }
            else if (Model.LevelHistory == null)
            {
                <div class="row py-1 pl-3">
                    <small class="text-muted p-0">
                        Выберите уровень подготовки
                    </small>
                </div>
            }
            else if (Model.ScienceHistory == null)
            {
                <div class="row py-1 pl-3">
                    <small class="text-muted p-0">
                        Выберите науку
                    </small>
                </div>
            }
            else if (Model.GroupHistory == null)
            {
                <div class="row py-1 pl-3">
                    <small class="text-muted p-0">
                        Выберите укрупнённую группу
                    </small>
                </div>
            }
            else if (Model.DirectionHistory == null)
            {
                <div class="row py-1 pl-3">
                    <small class="text-muted p-0">
                        Выберите направление
                    </small>
                </div>
            }
            else if (Model.FocusHistory == null)
            {
                <div class="row py-1 pl-3">
                    <small class="text-muted p-0">
                        Выберите направленность
                    </small>
                </div>
            }
            else if (Model.VariabilityHistory == null)
            {
                <div class="row py-1 pl-3">
                    <small class="text-muted p-0">
                        Выберите вариант обучения
                    </small>
                </div>
            }
        </div>
    </div>*@
</div>

<div class="container bg-light rounded-3 shadow mb-3">

    @if (Model.LevelHistory == null)
    {
        
    }
    else if (Model.ScienceHistory == null)
    {
        <div class="row px-3 py-1">
            <small class="text-center fw-bold text-muted">
                @Model.LevelHistory.Name
            </small>
        </div>
    }
    else if (Model.GroupHistory == null)
    {
        <div class="row px-3 py-1">
            <small class="text-center fw-bold text-muted">
                @Model.ScienceHistory.Name
            </small>
        </div>
    }
    else if (Model.DirectionHistory == null)
    {
        <div class="row px-3 py-1">
            <small class="text-center fw-bold text-muted">
                @Model.GroupHistory.Name
            </small>
        </div>
    }
    else if (Model.FocusHistory == null)
    {
        <div class="row px-3 py-1">
            <small class="text-center fw-bold text-muted">
                @Model.DirectionHistory.Name
            </small>
        </div>
    }
    else if (Model.VariabilityHistory == null)
    {
        <div class="row px-3 py-1">
            <small class="text-center fw-bold text-muted">
                @Model.FocusHistory.Name
            </small>
        </div>
    }
    else
    {
        <div class="row px-3 py-1">
            <small class="text-center fw-bold text-muted">
                @Model.VariabilityHistory.Name
            </small>
        </div>
    }

</div>

@*Путь конец*@