@model IEnumerable<EasyToEnter.ASP.Models.Models.LevelFocusModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LevelModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FocusModel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LevelModel.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FocusModel.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@*<h>Context.AddRange(new Class[]<br></h>
<h>{</h>
@{
    int i = 0;
}
@foreach (var item in Model) {
    i++;
    <h>
    <br>new Class // @i
    <br>{
        <br>FocusId = @item.FocusId,
        <br>LevelId = @item.LevelId
    <br>},
</h>
}
<h><br>});</h>*@