@{
    ViewData["Title"] = "Поис направленностей";
}

<div class="text-center m-3"><h2>Поис направленностей</h2></div>

<!-- Фильтры -->
<form method="get">
    <div class="container">
        <div class="row">

                <!-- Уровень -->
                <select name="level" class="col-sm-3 select_send_ajax selectpicker" data-show-subtext="true" data-live-search="true" asp-items="ViewBag.Levels">
                    <option value="">Выберите уровень</option>
                </select>

                <!-- Наука -->
                <select name="science" class="col-sm-3 select_send_ajax selectpicker" data-show-subtext="true" data-live-search="true" asp-items="ViewBag.Sciences">
                    <option value="">Выберите науку</option>
                </select>


                <!-- Группа -->
                <select name="group" class="col-sm-3 select_send_ajax selectpicker" data-show-subtext="true" data-live-search="true" asp-items="ViewBag.Groups">
                    <option value="">Выберите группу</option>
                </select>

                <!-- Направление -->
                <select name="direction" class="col-sm-3 select_send_ajax selectpicker" data-show-subtext="true" data-live-search="true" asp-items="ViewBag.Directions">
                    <option value="">Выберите направление</option>
                </select>

        </div>
    </div>
</form>

<div class="container mt-3">
<!-- Вывод направленностей -->
@for(var i = 0; i < ViewBag.Focuss.Count; i++)
{
    <div class="row shadow-sm mt-4 bg-white rounded-3 border border-light">
        <div class="col-sm-offset-0 col-sm-3 p-0 overlay-dark">
            <img src="https://cdn.postupi.online/images/images335x232/13/143.jpg" alt="" class="w-100 img-responsive rounded overlay-dark">
        </div>
        <div class="col-sm-offset-0 col-sm-6 m-2">
            <div class="row">
                <em>
                    @ViewBag.Focuss[i].FocusModel.DirectionModel.GroupModel.Code.
                    @ViewBag.Focuss[i].LevelModel.Code.
                    @ViewBag.Focuss[i].FocusModel.DirectionModel.Code
                    @ViewBag.Focuss[i].FocusModel.DirectionModel.Name
                </em>
            </div>
            <div class="row">
                <strong>
                    @ViewBag.Focuss[i].FocusModel.Name
                </strong>
            </div>
            <div class="row">
                <p>@ViewBag.Focuss[i].FocusModel.Description</p>
            </div>
            <div class="row position-absolute bottom-0">
                <button type="button" class="btn btn-secondary btn-lg">
                        @{Random Random = new();}
                        @Random.Next(3, 1000) варианта обучения
                </button>
            </div>
        </div>
        <div class="col-sm-offset-0 col-sm-3">
        </div>
    </div>
}
</div>
<!-- Отправка формы при клике на select-->
@section Scripts 
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $('.select_send_ajax').on('change', function() 
        {
            $(this.form).submit();
        });
    </script>
}