@{
    ViewData["Title"] = "Поис направленностей";
}

<div class="text-center m-3"><h2>Поис направленностей</h2></div>

<!-- Фильтры -->
<form method="get">
    <div class="container">
        <div class="row">

                <!-- Уровень -->
                <select name="level" class="col-sm-3 select_send_ajax selectpicker" data-show-subtext="true" data-live-search="true" asp-items="ViewBag.Levels">
                    <option value="">Выберите уровень</option>
                </select>

                <!-- Наука -->
                <select name="science" class="col-sm-3 select_send_ajax selectpicker" data-show-subtext="true" data-live-search="true" asp-items="ViewBag.Sciences">
                    <option value="">Выберите науку</option>
                </select>


                <!-- Группа -->
                <select name="group" class="col-sm-3 select_send_ajax selectpicker" data-show-subtext="true" data-live-search="true" asp-items="ViewBag.Groups">
                    <option value="">Выберите группу</option>
                </select>

                <!-- Направление -->
                <select name="direction" class="col-sm-3 select_send_ajax selectpicker" data-show-subtext="true" data-live-search="true" asp-items="ViewBag.Directions">
                    <option value="">Выберите направление</option>
                </select>

        </div>
    </div>
</form>

<div class="container mt-3">
    <div class="row">
<!-- Вывод направленностей -->
@{Random Random = new();}
@for(var i = 0; i < ViewBag.Focuss.Count; i++)
{
        <div class="card bg-dark text-white mb-3 rounded-3 shadow" style="background-color: #333;">
            <div class="card-body">
                <p class="card-text fst-italic">
                    @ViewBag.Focuss[i].FullCodeName
                </p>
                <h3 class="card-title">
                    @ViewBag.Focuss[i].FocusModel.Name
                </h3>
                <p class="card-text text-truncate">
                    @ViewBag.Focuss[i].FocusModel.Description
                </p>
                <div class="row p-0">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <a href="#" class="btn btn-light">
                                    @Random.Next(3, 20) варианта обучения
                                </a>
                            </div>
                            <div class="col">
                                <p class="text-truncate">от <span class="fs-5 fw-bold ">@Random.Next(10, 900) @Random.Next(100, 900)</span> руб.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <p class="text-truncate"><span class="fs-5 fw-bold">@Random.Next(20, 1000)</span> мест</p>
                            </div>
                            <div class="col">
                                <p class="text-truncate">от <span class="fs-5 fw-bold">@Random.Next(36, 60)</span> баллов</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
}
    </div>
</div>

<!-- Навигация -->

<!-- Отправка формы при клике на select-->
@section Scripts 
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $('.select_send_ajax').on('change', function() 
        {
            $(this.form).submit();
        });
    </script>
}