@model EasyToEnter.ASP.ViewsModels.Applicant.UniversityViewModel;
@using static EasyToEnter.ASP.Tools.StringConverting;
@using EasyToEnter.ASP.Models.Models;

@{
    ViewData["Title"] = Model.University.Abbreviation;
}

@*Название ВУЗа начало*@
<div class="container bg-light rounded-3 shadow mb-3">
    <div class="row px-3 py-1">
        <small class="text-muted text-center fw-bold">
            @Model.University.Name 
        </small>
    </div>
</div>
@*Название ВУЗа начало*@

@*Карта ВУЗ начало*@
<vc:map-university-with-dormitory data="@Model.University"/>
@*Карта ВУЗ начало*@

@*Краткая информация начало*@
<div class="container py-1 mb-3 bg-light rounded-3 shadow">
    <div class="row">

        <div class="col">
            <div class="row">
                <div class="text-center fw-bold">
                    @IntToString(Model.FocusUniversityCount)
                </div>
            </div>
            <div class="row">
                <small class="text-center text-muted">
                    программы (скоро)
                </small>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="text-center fw-bold">
                    от @IntToString(Model.MinTuition)
                </div>
            </div>
            <div class="row">
                <small class="text-center text-muted">
                    рублей в год
                </small>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="text-center fw-bold">
                    @IntToString(Model.SumNumberSeats)
                </div>
            </div>
            <div class="row">
                <small class="text-center text-muted">
                    мест
                </small>
            </div>
        </div>

    </div>
</div>
@*Краткая информация конец*@

@*О ВУЗе начало*@
<div class="bg-light rounded-3 shadow mb-3 p-3">
    <div class="col">
        <div class="row fw-bold my-1">
            Описание
        </div>
        <div class="row">
            @Model.University.Description
        </div>
    </div>
</div>
@*О ВУЗе конец*@

@*Контакты начало*@
<div class="bg-light rounded-3 shadow mb-3 p-3">
    <div class="col">

        <div class="row fw-bold my-1">
            Контакты
        </div>

        <div class="row">
            <div class="col-auto text-start px-0 align-self-center">
                <i class="bi bi-calendar3-range text-muted fs-4"></i>
            </div>
            <a class="col text-muted text-start align-self-center" href="@Model.University.Website">
                @Model.University.Website
            </a>
        </div>

        @{var mailto = $"mailto:{Model.University.EmailAddress}";}
        <div class="row">
            <div class="col-auto text-start px-0 align-self-center">
                <i class="bi bi-envelope text-muted fs-4"></i>
            </div>
            <a class="col text-muted text-start align-self-center" href="@mailto">
                @Model.University.EmailAddress
            </a>
        </div>

        <div class="row">
            <div class="col-auto text-start px-0 align-self-center">
                <i class="bi bi-telephone text-muted fs-4"></i>
            </div>
            <div class="col text-start align-self-center">
                @foreach (PhoneNumberUniversityModel phoneNumber in Model.University!.PhoneNumbers!)
                {
                    <div>
                        <span>
                            @StringPhoneNumberToString(phoneNumber.PhoneNumber)
                        </span>
                        <small class="text-muted">
                            (@phoneNumber.Appointment.ToLower())
                        </small>
                    </div>
                }
            </div>
        </div>

        <div class="row">
            <div class="col-auto text-start px-0 align-self-center">
                <i class="bi bi-geo-alt text-muted fs-4"></i>
            </div>
            <div class="col text-start align-self-center">
                @Model.University.AddressModel!.FullAddress
            </div>
        </div>

    </div>
</div>
@*Контакты конец*@

<div class="p-2 mb-3 bg-light rounded-3 shadow">
    <a data-toggle="collapse" aria-expanded="true" aria-controls="collapseExample" href="#collapseDormitory">
        <div class="col btn">
            @if (Model.University.Dormitorys!.Any())
            {
                <div class="text-center">
                    Общежития <small class="text-muted">(@Model.University.Dormitorys!.Count)</small>
                </div>
            }
            else
            {
                <div class="text-center">
                    Общежитий нет
                </div>
            }
        </div>
    </a>
    @if (Model.University.Dormitorys!.Any())
    {
        <div class="collapse" id="collapseDormitory">
            <div class="row mt-2">
                <div class="container">
                    @foreach (DormitoryModel dormitory in Model.University!.Dormitorys!)
                    {
                        <div class="col rounded-3 shadow-sm bg-white mb-2 px-2 pb-2">
                            <a class="row text-decoration-none pt-2" data-toggle="collapse" aria-expanded="true" aria-controls="collapseExample" href="#@dormitory.Id">
                                <div class="text-dark col text-start text-truncate">
                                    @dormitory.Name
                                </div>
                                <div class="text-dark col-auto text-end">
                                    @dormitory.Amount <small class="text-muted">руб./мес.</small>
                                </div>
                            </a>
                            <div class="row collapse" id="@dormitory.Id">
                                <div class="col">

                                    @if (dormitory.PhoneNumber != null)
                                    {
                                        <div class="row">
                                            <div class="col-auto text-start px-0 pl-3 align-self-center">
                                                <i class="bi bi-telephone text-muted fs-4"></i>
                                            </div>
                                            <div class="col text-start align-self-center">
                                                <div>
                                                    <span>
                                                        @StringPhoneNumberToString(dormitory.PhoneNumber)
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    <div class="row">
                                        <div class="col-auto text-start px-0 pl-3 align-self-center">
                                            <i class="bi bi-geo-alt text-muted fs-4"></i>
                                        </div>
                                        <div class="col text-start align-self-center">
                                            @dormitory.AddressModel!.FullAddress
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>   
    }
</div>

@*Вакансии и Профессии начало*@
<div class="mb-3">
    <div class="col">
        <div class="row">
            <a class="col-12 col-sm mr-sm-1 btn btn-light shadow-sm mb-sm-0 mb-2" href="#">
                <div class="fw-bold text-center">
                    Вакансии <small class="text-muted">(скоро)</small>
                </div>
            </a>
            <a class="col-12 col-sm btn btn-light shadow-sm" href="#">
                <div class="fw-bold text-center">
                    Профессии <small class="text-muted">(скоро)</small>
                </div>
            </a>
        </div>
    </div>
</div>
@*Вакансии и Профессии конец*@