@model EasyToEnter.ASP.Models.Models.VariabilityModel;
@using EasyToEnter.ASP.ViewsModels.Components.Path;
@using static EasyToEnter.ASP.Tools.StringConverting;

@{
    ViewData["Title"] = "Вариативность";
}

@*Путь начало*@
<vc:path data="new PathContainerViewModel(Model)"/>
@*Путь конец*@

@*Краткая информация начало*@
<div class="container py-1 mt-3 bg-light rounded-3 shadow">
    <div class="row">

        <div class="col">
            <div class="row">
                <div class="text-center fw-bold">
                    от @IntToString(Model.YearHistoryVariability?.Tuition)
                </div>
            </div>
            <div class="row">
                <small class="text-center text-muted">
                    рублей в год
                </small>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="text-center fw-bold">
                    @Model.YearHistoryVariability?.NumberSeats
                </div>
            </div>
            <div class="row">
                <small class="text-center text-muted">
                    мест (@Model.PaymentModel!.Name.ToLower())
                </small>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="text-center fw-bold">
                    @Model.TrainingPeriod года
                </div>
            </div>
            <div class="row">
                <small class="text-center text-muted">
                    обучения (@Model.FormatModel!.Name.ToLower(), @Model.FormModel!.Name.ToLower())
                </small>
            </div>
        </div>

    </div>
</div>
@*Краткая информация начало*@

@*Предметы начало*@
<vc:subject-container data="Model.FocusUniversityModel!.SubjectFocusUniversitys"/>
@*Предметы конец*@

@*Описание начало*@
<div class="container p-2 mt-3 bg-light rounded-3 shadow">
    <div class="col">
        <div class="row">
            <div class="fw-bold">
                Описание
            </div>
            <div>
                @Model.FocusUniversityModel!.LevelFocusModel!.FocusModel!.Description
            </div>
        </div>
    </div>
</div>
@*Описание конец*@

@*Вакансии и Профессии начало*@
<div class="container mt-3">
    <div class="row">

        <a class="col-12 col-sm mr-sm-1 btn btn-light shadow-sm mb-sm-0 mb-2" href="#">
            <div class="fw-bold text-center">
                Вакансии <small class="text-muted">(21)</small>
            </div>
        </a>

        <a class="col-12 col-sm mr-sm-1 btn btn-light shadow-sm" href="#">
            <div class="fw-bold text-center">
                Профессии <small class="text-muted">(15)</small>
            </div>
        </a>

    </div>
</div>
@*Детали конец*@

@*История начало*@
<vc:history-container data="Model.HistoryVariabilitys?.OrderByDescending(hv => hv.Year).ToList()"/>
@*История конец*@

@*Дисциплины начало*@
<vc:discipline-container data="Model.FocusUniversityModel!.DisciplineFocusUniversitys"/>
@*Дисциплины конец*@