@model EasyToEnter.ASP.ViewsModels.Applicant.VariabilitySelectionContainerViewModel;
@using EasyToEnter.ASP.ViewsModels.Components;
@using EasyToEnter.ASP.ViewsModels.Components.Maps;
@using EasyToEnter.ASP.ViewsModels.Components.Path;
@using EasyToEnter.ASP.ViewsModels.Applicant;
@using System.Text.Json.Serialization;
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Вырианты обучения";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

@*Настройки фильтра "Период обучения"*@
<script>
    $( function() {
        $( "#training-period" ).slider({
        range: true,
        min: @Model.MinTrainingPeriod,
        max: @Model.MaxTrainingPeriod,
        values: [ @Model.SelectMinTrainingPeriod, @Model.SelectMaxTrainingPeriod ],
        slide: function( event, ui ) {
        $( "#training-period-amount" ).val(ui.values[ 0 ] + "-" + ui.values[ 1 ]);
        }});

        $( "#passing-grade" ).slider({
        range: true,
        min: @Model.MinPassingGrade,
        max: @Model.MaxPassingGrade,
        values: [ @Model.SelectMinPassingGrade, @Model.SelectMaxPassingGrade ],
        slide: function( event, ui ) {
        $( "#passing-grade-amount" ).val(ui.values[ 0 ] + "-" + ui.values[ 1 ]);
        }});

        $( "#tuition" ).slider({
        range: true,
        min: @Model.MinTuition,
        max: @Model.MaxTuition,
        values: [ @Model.SelectMinTuition, @Model.SelectMaxTuition ],
        slide: function( event, ui ) {
        $( "#tuition-amount" ).val(ui.values[ 0 ] + "-" + ui.values[ 1 ]);
        }});

        $( "#number-seats" ).slider({
        range: true,
        min: @Model.MinNumberSeats,
        max: @Model.MaxNumberSeats,
        values: [ @Model.SelectMinNumberSeats, @Model.SelectMaxNumberSeats ],
        slide: function( event, ui ) {
        $( "#number-seats-amount" ).val(ui.values[ 0 ] + "-" + ui.values[ 1 ]);
        }});
    
        $( "#training-period-amount" ).val($( "#training-period" ).slider( "values", 0 ) +
            "-" + $( "#training-period" ).slider( "values", 1 ) );

        $( "#passing-grade-amount" ).val($( "#passing-grade" ).slider( "values", 0 ) +
            "-" + $( "#passing-grade" ).slider( "values", 1 ) );

        $( "#tuition-amount" ).val($( "#tuition" ).slider( "values", 0 ) +
            "-" + $( "#tuition" ).slider( "values", 1 ) );

        $( "#number-seats-amount" ).val($( "#number-seats" ).slider( "values", 0 ) +
            "-" + $( "#number-seats" ).slider( "values", 1 ) );
    } );

</script>


@*Путь начало*@
<vc:path data="new PathContainerViewModel(Model)"/>
@*Путь конец*@

@*Карта начало*@
<vc:map-university-list data="@Model.VariabilityViewModelList.Select(v => v.FocusUniversityModel!.UniversityModel!).Distinct().ToList()"/>
@*Карта конец*@

@*Вариативности начало*@
<div class="container p-0 mt-3">
    <div class="row">

        @*Контейнер начало*@
        <div class="col-xl-8 col-md-12 order-xl-1 order-3">
            
            @{
                string ModelJson = JsonConvert.SerializeObject(Model.VariabilityViewModelList, Formatting.None, new JsonSerializerSettings(){ ReferenceLoopHandling = ReferenceLoopHandling.Ignore});
                List<VariabilityViewModel>? ModelNotJson = System.Text.Json.JsonSerializer.Deserialize<List<VariabilityViewModel>>(ModelJson);
            }

            <component type="typeof(VariabilitySelectionContainer)" render-mode="ServerPrerendered" param-Model="ModelNotJson"/>
        </div>
        @*Контейнер конец*@

        @*Фильтр начало*@
        <div class="col-xl col-md-12 mb-3 order-xl-2 order-2">
            <div class="col bg-white shadow px-3 rounded-20">
                <div class="col position-relative">
                    <div class="row">
                        <div class="col p-0 my-1 text-center">
                            Фильтры
                        </div>
                        <a class="col-auto m-0 p-0 align-self-end d-block d-xl-none text-decoration-none" data-toggle="collapse" aria-expanded="true" aria-controls="collapseExample" href="#collapseExample">
                            <span class="fs-5 bi bi-sliders text-muted"/>
                        </a>
                    </div>
                </div>
                <div class="collapse dont-collapse-sm pb-2" id="collapseExample">
                    <div class="well">
                        <!-- Фильтры -->
                        <form method="get">
                            <div class="container p-0">
                                <div class="row">
                                    <!-- Предыдущие значения -->
                                    <input type="hidden" name="levelFocus" asp-for="LevelFocusId"/>

                                    <h5 class="px-3"></h5>
                                    <vc:select data='@new SelectViewModel("form", "Форма обучания", Model.FormSelectListItem)'/>
                                    <vc:select data='@new SelectViewModel("format", "Формат обучания", Model.FormatSelectListItem)'/>
                                    <vc:select data='@new SelectViewModel("payment", "Оплата обучания", Model.PaymentSelectListItem)'/>
                                    <vc:select data='@new SelectViewModel("entranceExams", "Вступительные экзамены", Model.EntranceExamsSelectListItem)'/>
                                    
                                    @*Фильтр "Период обучения"*@
                                    <div class="px-3">
                                        <div class="mb-2 px-1">
                                            <small>
                                                Период обучения
                                            </small>
                                            <input type="text" id="training-period-amount" name="rangeTrainingPeriod" class="fw-bold small text-muted border-0 bg-white">
                                        </div>
                                        <div class="px-1">
                                            <div id="training-period"></div>
                                        </div>
                                    </div>

                                    @if (Model.LevelId != 2)
                                    {
                                        @*Фильтр "Проходной балл ЕГЭ"*@
                                        <div class="px-3">
                                            <div class="mb-2 px-1">
                                                <small>
                                                    Проходной балл ЕГЭ
                                                </small>
                                                <input type="text" id="passing-grade-amount" name="rangePassingGrade" class="fw-bold small text-muted border-0 bg-white">
                                            </div>
                                            <div class="px-1">
                                                <div id="passing-grade"></div>
                                            </div>
                                        </div>
                                    }

                                    @*Фильтр "Стоимость обучения"*@
                                    <div class="px-3">
                                        <div class="mb-2 px-1">
                                            <small>
                                                Стоимость обучения
                                            </small>
                                            <input type="text" id="tuition-amount" name="rangeTuition" class="fw-bold small text-muted border-0 bg-white">
                                        </div>
                                        <div class="px-1">
                                            <div id="tuition"></div>
                                        </div>
                                    </div>

                                    @*Фильтр "Количество мест"*@
                                    <div class="px-3">
                                        <div class="mb-2 px-1">
                                            <small>
                                                Количество мест
                                            </small>
                                            <input type="text" id="number-seats-amount" name="rangeNumberSeats" class="fw-bold small text-muted border-0 bg-white">
                                        </div>
                                        <div class="px-1">
                                            <div id="number-seats"></div>
                                        </div>
                                    </div>
                                    
                                    @*Кнопка "Применить фильтры"*@
                                    <div class="px-3 pt-3">
                                        <button class="btn btn-outline-secondary w-100" type="submit">Применить</button>
                                    </div>

                                    <h5 class="mt-3 px-3"></h5>
                                    <vc:select data='@new SelectViewModel("accreditation", "Аккредитация", Model.AccreditationSelectListItem)'/>
                                    <vc:select data='@new SelectViewModel("militaryDepartment", "Военная кафедра", Model.MilitaryDepartmentSelectListItem)'/>
                                    <vc:select data='@new SelectViewModel("dormitory", "Общежитие", Model.DormitoryDepartmentSelectListItem)'/>
                                    <vc:select data='@new SelectViewModel("specialization", "Специализация", Model.SpecializationSelectListItem)'/>
                                    @*<vc:select data='@new SelectViewModel("region", "Район", Model.MilitaryDepartmentSelectListItem)'/>*@
                                    @*<vc:select data='@new SelectViewModel("city", "Город", Model.MilitaryDepartmentSelectListItem)'/>*@
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        @*Фильтр конец*@
    </div>
</div>
@*Вариативности конец*@

<!-- Отправка формы при клике на select-->
@section Scripts 
{
    <script>
        $('.select_send_ajax').on('change', function() 
        {
            $(this.form).submit();
        });
    </script>
}