@*Библиотеки*@
@using static EasyToEnter.ASP.Tools.StringConverting
@using EasyToEnter.ASP.Services.Discipline;
@using EasyToEnter.ASP.ViewsModels.Applicant;
@using Microsoft.AspNetCore.Http

@*Api*@
@inject EasyToEnter.ASP.Services.FocusUniversityFavorites.IFocusUniversityFavoritesService FocusUniversityFavoritesService

<div class="icon-card mb-3 text-dark bg-white shadow rounded-20">
    <div class="row g-0">
        <div class="col position-relative">
            <div class="card-body p-3">
                <div class="row px-3 mb-3">

                    @*Хедер*@
                    <p class="col m-0 p-0 card-text text-truncate">
                        <small class="text-muted">
                            @Model.FocusUniversityModel!.UniversityModel!.Name
                        </small>
                    </p>

                    @*Значек "Государственный вуз"*@
                    @if (Model.FocusUniversityModel.UniversityModel.AccreditationId == 1)
                    {
                    <a class="col-auto m-0 p-0 ml-2 align-self-end" data-bs-placement="top" data-bs-toggle="tooltip" title="Государственный" href="#">
                        <span class="fs-5 bi bi-hospital text-success"/>
                    </a>
                    }

                    @*Значек "Наличие общежития"*@
                    @if (Model.FocusUniversityModel.UniversityModel.Dormitorys!.Any())
                    {
                    <a class="col-auto m-0 p-0 ml-2 align-self-end" data-bs-placement="top" data-bs-toggle="tooltip" title="Наличие общежития" href="#">
                        <span class="fs-5 bi bi-building text-warning"/>
                    </a>
                    }

                    @*Значек "Военная кафедра"*@
                    @if (Model.FocusUniversityModel.UniversityModel.MilitaryDepartment)
                    {
                    <div class="col-auto m-0 p-0 ml-2 align-self-end">
                        <a class="align-top" data-bs-toggle="tooltip" data-bs-placement="top" title="Наличие военной кафедры" href="#">
                            <span class="fs-5 bi bi-shield text-info align-top"/>
                        </a>
                    </div>
                    }

                    @*Значек "В избранное"*@
                    <a class="col-auto m-0 p-0 ml-4 align-self-end" data-bs-placement="top" data-bs-toggle="tooltip" href="" @onclick:preventDefault @onclick="ChangeStatusFavorites">
                        @if (Model.Favorites)
                        {
                            <span class="fs-5 bi bi-heart-fill text-danger"/>
                        }
                        else
                        {
                            <span class="fs-5 bi bi-heart text-danger"/>
                        }
                    </a>
                </div>

                @*Значек "Тайтл"*@
                <h5 class="card-title text-truncate">
                    <a href="" class="text-decoration-none text-dark fw-bold">
                        @Model.FocusUniversityModel!.UniversityModel!.Abbreviation
                    </a>
                </h5>

                @*Значек "Описание"*@
                <p class="card-text text-truncate mb-2">
                    Короткое описание о вузе или хуй пойми о чем?
                </p>

                @*Значек "Особенности"*@
                <p class="card-text text-truncate">
                    <kbd class="mr-1 rounded-3 fw-semibold bg-success">@Model.PaymentModel!.Name</kbd>
                    <kbd class="mr-1 rounded-3 fw-semibold bg-warning">@Model.FormatModel!.Name</kbd>
                    <kbd class="mr-1 rounded-3 fw-semibold bg-info">@Model.FormModel!.Name</kbd>
                </p>

                <div class="row px-3">
                    <div class="col-sm order-sm-first order-4 px-0">
                        <a class="btn text-truncate btn-secondary text-decoration-none col col-sm-auto" href="/Applicant/Variability?variability=@Model.Id">
                            Подробнее
                        </a>
                    </div>
                    <div class="col-sm-auto order-1 order-xl-2 align-self-center">
                        <p class="text-center m-0">
                            от <span class="fs-6 fw-bold text-truncate">@IntToString(@Model.YearHistoryVariability?.PassingGrade)</span> баллов
                        </p>
                    </div>
                    <div class="col-sm-auto order-2 order-xl-3 align-self-center">
                        <p class="text-center m-0">
                            <span class="fs-6 fw-bold text-truncate">@IntToString(@Model.YearHistoryVariability?.NumberSeats)</span> мест
                        </p>
                    </div>
                    <div class="col-sm-auto order-3 order-xl-4 align-self-center mb-sm-0 mb-2">
                        <p class="text-center m-0">
                            от <span class="fs-6 fw-bold text-truncate">@IntToString(Model.YearHistoryVariability?.Tuition)</span> руб.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>  

@code {
    [Parameter]
    public VariabilityViewModel Model { get; set; } = new VariabilityViewModel();

    private async Task ChangeStatusFavorites()
    {
        if (Model.Favorites)
        {
            var resultDelete = await FocusUniversityFavoritesService.DeleteFavorites(Model.FocusUniversityId);

            if (resultDelete == true) Model.Favorites = false;
        }
        else 
        {
            var resultAdd = await FocusUniversityFavoritesService.AddFavorites(Model.FocusUniversityId);

            if (resultAdd == true) Model.Favorites = true;
        }
    }
}