@model EasyToEnter.ASP.Models.Models.VariabilityModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VariabilityModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingPeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrainingPeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntranceExams)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntranceExams)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormModel.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentModel.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormatModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormatModel.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FocusUniversityModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FocusUniversityModel.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
