@model EasyToEnter.ASP.Models.Models.HistoryVariabilityModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HistoryVariabilityModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassingGrade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassingGrade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tuition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tuition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberSeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VariabilityModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VariabilityModel.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
